{% extends 'website/layout.html' %}

{% block main %}
    <div class="col-md-6">
        <h2>Modelo de Okumura-Hata</h2>

        <form action=" {% url 'website:okumura_hata' %} " method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit">
        </form>

    </div>
    <div class="col-md-6">
        {% if resultado == "Distância inválida." or  resultado == "Frequência inválida." or resultado == "Inputs inválidos." or resultado == "Hbe inválido." or resultado == "Hm inválido." and submetido %}
            <p>{{ resultado }}</p>
        {% elif submetido %}
            <p>Para os seguintes dados:</p>
            <p> - Frequência de: {{ form.data.frequencia }} MHz</p>
            <p> - Hbe de: {{ form.data.hbe }} Metros</p>
            <p> - Distância de: {{ form.data.distancia }} Metros</p>
            <p> - Hm de: {{ form.data.hm }} Metros</p>
            <p> - Cidade: {{ form.data.tipoAmbiente }}</p>
            <p></p>
            <p>A mediana da atenuação de propagação (Lp) é de {{ resultado }} dB.</p>
        {% endif %}

    </div>
{% endblock main %}