{% extends 'website/layout.html' %}

{% block main %}
    <div class="col-md-6">
        <h2>Quantidade De Canais</h2>

        <form action=" {% url 'website:quantidade_canais' %} " method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit">
        </form>

    </div>
    <div class="col-md-6">
        {% if submetido %}
            <p>Para os seguintes dados:</p>
            <p> - Tráfego Oferecido de {{ form.data.t }} Erlang</p>
            <p> - Probabilidade de bloqueio de {{ form.data.pb }}</p>
            <p></p>
            <p>O número de canais é de {{ resultado }}</p>
        {% endif %}

    </div>
{% endblock main %}