{% extends 'website/layout.html' %}

{% block main %}
    <div class="col-md-6">
        <h2>Tamanho mínimo do Cluster</h2>

        <form action=" {% url 'website:tamanho_cluster' %} " method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit">
        </form>

    </div>
    <div class="col-md-6">
        {% if submetido %}
            <p>Para os seguintes dados:</p>
            <p> - C/I de {{ form.data.c_i_db }} dB</p>
            <p> - Coeficiente de atenuação (n) de {{ form.data.n }}</p>
            <p></p>
            <p>O tamanho do cluster mínimo (Ncp) é de {{ resultado }}</p>
        {% endif %}

    </div>
{% endblock main %}