{% extends 'website/layout.html' %}

{% block main %}
    <div class="col-md-6">
        <h2>Tráfego Oferecido</h2>

        <form action=" {% url 'website:trafego_oferecido' %} " method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit">
        </form>

    </div>
    <div class="col-md-6">
        {% if submetido %}
            <p>Para os seguintes dados:</p>
            <p> - {{ form.data.n }} canal/canais</p>
            <p> - Probabilidade de bloqueio de {{ form.data.pb }}</p>
            <p></p>
            <p>O tráfego oferecido é de {{ resultado }} Erlang.</p>
        {% endif %}

    </div>
{% endblock main %}